<% layout("layouts/boilerplate") %> 

    <h1><%= camp.title %></h1>
    <h3><%=camp.location %></h3>

    <a href="/campgrounds/<%= camp._id  %>/edit">Edit</a>
    <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
      <button>DELETE !</button>
    </form>

    <script>

      document.getElementById("editl").classList.add("active");
      document.getElementById("editl").classList.remove("disabled");
      let ii = "<%= camp._id%>";
      document.getElementById("editl").href = `/campgrounds/${ii}/edit`;
      
    </script>